/* variable */
:root{
    --primary:#ddd;
    --dark:#333;
    --light:#fff;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
p{
    font-weight: bolder;
}
body{
    background:#ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background:var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

/* navigation */

.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0%;
    list-style:none;
    grid-template-columns: repeat(5,1fr);
}

.main-nav a{
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    border-radius: 8px;
    background: rgb(26, 28, 53);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    color: var(--primary);
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    text-align: center;
}

.main-nav a:hover{
    color:rgb(26, 28, 53);
    box-shadow: 1px 4px 4px rgb(87, 85, 85);
    background: rgb(141, 157, 177);
    transform:translateY(-5px);
    transition: ease;
}


/* showcase*/
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url("img/pic1.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    border: 5px solid white;
}
.showcase h1{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Patua One', cursive;
    color: var(--light);
}
.showcase p{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0;
    color: var(--light);
}
.showcase .btn:hover{
    background: var(--primary);
    color: var(--dark);
    font-weight: bold;
}

/*  */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
}





/* top-box
.top-box{
    background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 2.5rem 3.4rem;
}
.top-box .price{
    font-size: 1.4rem;
}
.top-box h4{
    font-family: 'Patua One', cursive;
    color:rgb(26, 28, 53);
    font-size: 2.2rem;
}

.top-box-a{
    grid-area: top-box-a;
    margin-top: 8rem;
}

.top-box-b{
    grid-area: top-box-b;
} */

/* boxes */
.boxes{
    display: grid;
    grid-gap: 20px;
    /* background-color: #fff; */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    
}
.box{
    background: var(--primary);
    display: block;
    align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  text-align: center;
  padding: 1.5rem 2rem;
}
.box h3{
    font-family: 'Patua One', cursive;
    color:rgb(26, 28, 53);
}

/* info */
.info{
    margin-top: 2rem;
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}
.info div{
    justify-content: center;
    align-items: center;
}
.info h2{
    font-family: 'Patua One', cursive;
    color:rgb(26, 28, 53);
    font-size: 1.5rem;
}

/* portfolio */
.portfolio{
    margin-top: 2rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.portfolio img{
    width: 100%;
    border: 5px solid white;
    box-shadow: var(--shadow);
}

/* footer  */
footer{
    margin-top: 2rem;
  /* background: var(--dark); */
  background: rgb(26, 28, 53);
  color: var(--light);
  text-align: center;
  padding: 0;
}

.container{
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 2rem;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#dddddd;
	padding:25px;
	margin:25px 100px;
}

#contact h3 {
	display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #010101;
    font-weight: bold;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}















/* Media Queries */

@media (max-width: 700px){
    .main-nav ul{
        grid-template-columns: 1fr;
    }

    .top-container{
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b';
    }
    .showcase h1{
        font-size: 2.8rem;
    }
    .info{
        grid-template-columns: 1fr;
    }
    .info .btn{
        display: block;
        margin: auto;
        text-align: center;
    }
    
}

@media (max-width: 500px){
    .top-container{
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
    
}

